torch==1.6.0
transformers==2.5.1
tensorboardX==1.6.0
pytorch-lightning==0.6.0
test-tube==0.7.5
tqdm
numba==0.48.0
librosa==0.6.0
matplotlib
opencv-python
trimesh
pyrender
imageio
easydict
imutils
pydub
